//  Amazing css tooltip
//
//
//******************************
$tooltip-width:     70px;
$tooltip-radius:    0;
$tooltip-bg:        #fff;
$tooltip-color:     #989898;
$tooltip-opacity:   1;


[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;

  &:before,
  &:after {
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
      transform: translate3d(0, 0, 0);
      pointer-events: none;
  }

  &:before {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-bottom: 5px;
    margin-left: -($tooltip-width / 2);
    padding: 7px;
    width: $tooltip-width;
    border-radius: $tooltip-radius;
    background-color: $tooltip-bg;
    background-color: rgba($tooltip-bg, $tooltip-opacity);
    box-shadow: 0 0 10px 0px rgba(#000, 0.1);
    color: $tooltip-color;
    content: attr(data-tooltip);
    text-align: center;
    font-family: inherit;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.2;
  }

  &:after {
    position: absolute;
    bottom: 150%;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid $tooltip-bg;
    border-top: 5px solid rgba($tooltip-bg, $tooltip-opacity);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
  }

  &:hover,
  &.is-hover  {
    &:before,
    &:after {
      visibility: visible;
      opacity: 1;
      transform: translateY(-12px);
    }
  }

}
