//  Small css growl implementation
//
//
//*********************************************
.is-response {
  right: 20px;
  top: 20px;
  z-index: 2;
  padding: 10px;
  max-width: 200px;
  padding-left: 15px;
  background-color: #fff;
  box-shadow: 0 0 10px 0px rgba(#000, 0.1);
  visibility: hidden;
  opacity: 0;
  transform: translateX(150%);
  transition: opacity 0.6s ease-in, visibility 0.2s ease-in, transform 0.4s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  &.is-active {
    visibility: visible;
    opacity: 1;
    transform: translateX(0%);
  }
  @include angled-edge('outside bottom', 'lower right', #ffffff, $width: 2800, $height: 50);
  position: fixed;

  &:after {
    bottom: -30px;
  }
}

.is-response-body {
  background-color: #fff;
  color: #989898;
  font-size: 13px;
  font-weight: normal;
  line-height: 15px;
  z-index: 2;
  position: relative;
}

.is-check {
  display: inline-block;
  width: 15px;
  height: 15px;
  position: relative;
  &:before {
    content: '';
    transform-origin: 0 0;
    width: 6px;
    height: 2px;
    background-color: #7cc57c;
    position: absolute;
    transform: rotate(49deg) scaleX(0);
    top: 8px;
    left: 1px;
    transition: transform .2s ease-in;
  }
  &:after {
    content: '';
    transform-origin: 0 0;
    width: 10px;
    height: 2px;
    background-color: #7cc57c;
    position: absolute;
    left: 3px;
    top: 13px;
    transform: rotate(-50deg) scaleX(0);
    transition: transform .2s ease-in;
    transition-delay: .2s;
  }

  &.is-active {
      &:before {
        transform: rotate(49deg) scaleX(1);
      }

      &:after {
        transform: rotate(-50deg) scaleX(1);
      }
  }
}
