//  Dude, those leds, amagad !!
//
//
//********************************************
.is-led {
  display: block;
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 666px;
  opacity: .8;
  transform: scale(1);
  transition: opacity .3s ease-in-out, transform .3s ease-in-out;

  &:hover {
    opacity: 1;
    transform: scale(1.1);
  }

  &.is-alpha {
    background-color: nth($app-color, 1);
  }

  &.is-beta {
    background-color: nth($app-color, 2);
  }

  &.is-delta {
    background-color: nth($app-color, 3);
  }

  &.is-gamma {
    background-color: nth($app-color, 4);
  }

  &.is-epsilon {
    background-color: nth($app-color, 6);
  }
}
