<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta http-equiv="x-ua-compatible" content="ie=edge"/>
		<title>Benjamin Grauwin - Développeur, intégrateur &amp; chef de projet</title>
		<link rel="icon" type="image/png" href="favicon.png" />
		<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" type="text/css"/>
		<!-- build:template
		<link href="css/app.min.css?v=<%= version %>" rel="stylesheet" type="text/css"/>
		/build -->
	</head>
	<!-- build:template
	<body data-version="<%= version %>">
	/build -->
		<section class="is-fullsize">
			<div class="is-response">
				<div class="is-response-body"></div>

			</div>
		  <div class="is-body">
		    <div class="is-content">
		      <h1>
		        BENJAMIN GRAUWIN
		      </h1>
		      <h2>
		        Frontend Developer
						<a class="is-agency" href="http://crezeo.fr" target="_blank">
							@crezeo
						</a>
		      </h2>
		    </div>
		  </div>
			<!-- build:include _footer.html -->
			Here goes _footer.html
			<!-- /build -->
		</section>
		<!-- build:template
		<script type="text/javascript" src="js/app.min.js?v=<%= version %>"></script>
		/build -->
	</body>
</html>
